<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Navbar</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                          <a class="nav-link" href="/formdemo">FormDemo</a>
                          <a class="nav-link" href="/about">About</a>
                          <a class="nav-link active" href="">Home</a>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
</section>

<!-- <ul>
    <li><a href="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="toggle">Toggle</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="signup">Signup</a></li>
    <li><a routerLink="popuppage">popuppage</a></li>
    <li><a routerLink="switch">Switch</a></li>
    <li><a routerLink="getvalue">get value</a></li>
    <li><a routerLink="sidebartoggle">sidebartoggle</a></li>
    <li><a class="desktopButton">desktopsidebar</a>
        <a class="mobileButton"(click) = "addBodyClass()" >mobilesidebar</a></li>
        <li><a routerLink="inputvalue">input value</a></li>  
</ul> -->
